* {
    padding: 0;
    margin: 0;
}

h2 {
    padding: 15px;
    font-size: 250%;
}

p {
    padding: 25px 15px;
    text-align: justify;
    color: rgb(92, 92, 92);
    font-size: 130%;
}

.content {
    width: 100%;
}

.inner-content {
    margin: 0 auto;
    max-width: 800px;
}

.section {
    width: 80%;
    border: solid 1px rgb(235, 235, 235);
    margin: 5px;
}


.accordion {
    background-color: rgb(158, 56, 176);
    padding: 10px 5px;
    width: 100%;
    text-align: left;
    border-style: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    
    -webkit-box-shadow:0px 1px 1px rgb(111, 39, 125);
    -moz-box-shadow:0px 1px 1px rgb(111, 39, 125);
    box-shadow:0px 2px 2px rgb(111, 39, 125);
}

.accordion:hover {
    background-color: rgb(147,112,219);
}


.heading {
    display: block;
    padding: 10px;
    font-size: 220%;
    float: left;
}

.accordion i {
    float: right;
    font-size: 400%;
    padding-right: 10px;
}

.description {
    max-height: 0;
    overflow: hidden;
    
    -webkit-transition: max-height 1s ease-in-out;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
}

.clicked {
    background-color: rgb(104, 68, 183);
    
    -webkit-box-shadow: 0px 3px 3px rgb(76, 49, 133);
    -moz-box-shadow: 0px 3px 3px rgb(76, 49, 133);
    box-shadow: 0px 3px 3px rgb(76, 49, 133);
}


/* Media */
@media screen and (max-width: 768px) {
    
    h2 {
        font-size: 150%;
    }
    
    p {
        font-size: 110%;
    }
    
    .section {
        margin: 3px;
        width: 95%;
    }
    
    .heading {
        font-size: 160%;
    }
    
    .accordion i {
        font-size: 280%;
    }
}